@model ChoresProject.Models.ChoreViewModel

    @{
        ViewBag.Title = "Kitchen";
    }


    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Chore</th>
                <th>Completed</th>
                <th>Date Assigned</th>
            </tr>
        </table>
    </div>